### Pandas supports more robust text analysis tools

Cleaning, analyzing or wrangling text in Excel is very challenging

In [1]:
import pandas as pd
from pathlib import Path

In [2]:
src_file = Path.cwd() / 'data' / 'raw' / 'text-field-examples.xlsx'

In [3]:
df = pd.read_excel(src_file, usecols='A:C')

In [4]:
df

,account number,name,customer notes
0,412290,Jerde-Hilpert,Prompt pay discount ----- eligible for free sh...
1,383080,Will LLC,n/c shipping ---- free widget in every order
2,729833,Koepp Ltd,free shipping---contact Jim--- Deliveries only...
3,424914,White-Trantow,UPS Next-day shipping------ pickup at dock C
4,672390,Kuhn-Gusikowski,FREE SHIPPING ----- ship every two days
5,239344,Stokes LLC,----- Old account ---- Needs cleanup
6,218895,Kulas Inc,Special Account --- free shipping ---- more notes
7,672390,Kuhn-Gusikowski,2% net 10 day ---- $100 rebate per order --- g...
8,740150,Barton LLC,Free Ship

In [5]:
df['free_shipping'] = df['customer notes'].str.contains(
    'free shipping|free ship|n/c shipping', regex=True, case=False)

In [6]:
df

,account number,name,customer notes,free_shipping
0,412290,Jerde-Hilpert,Prompt pay discount ----- eligible for free sh...,True
1,383080,Will LLC,n/c shipping ---- free widget in every order,True
2,729833,Koepp Ltd,free shipping---contact Jim--- Deliveries only...,True
3,424914,White-Trantow,UPS Next-day shipping------ pickup at dock C,False
4,672390,Kuhn-Gusikowski,FREE SHIPPING ----- ship every two days,True
5,239344,Stokes LLC,----- Old account ---- Needs cleanup,False
6,218895,Kulas Inc,Special Account --- free shipping ---- more notes,True
7,672390,Kuhn-Gusikowski,2% net 10 day ---- $100 rebate per order --- g...,False
8,740150,Barton LLC,Free Ship,True